name: OWASP Dependency-Check

on:
  push:
  pull_request:

jobs:
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check (Docker)
        run: |
          mkdir -p dependency-check-report
          docker run --rm -v "${{ github.workspace }}:/src" owasp/dependency-check:latest \
            --project "vuln-springboot-demo" \
            --scan /src \
            --format ALL \
            --out /src/dependency-check-reportdocker run --rm -v "${{ github.workspace }}:/src" owasp/dependency-check:latest \
            --project "vuln-springboot-demo" --scan /src --format ALL --out /src/dependency-check-report

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report
